.playerWrapper {
    position: relative;
    padding: 4.5rem 0rem; /* Player ratio: 100 / (1280 / 720) */
    margin: .4rem;
  }

.playerBodyWrapper{
  display: flex;
  .textWrapper {
      padding:.5rem;
      display: flex;
      flex-wrap: wrap;
      width: 80%;

    .resourceHeading {
        font-size: 1.5rem;
        width: 100%;
    }
    .resourceBy {
        font-size: .8rem;
        width: 100%;
    }
  
    .resourceDate {
        font-size: .7rem;
        width: 100%;
    }
  }
  .actions{
    justify-content: center;
    align-self: center;
    width: 20%;
    padding: 1rem;
  }
}
  .reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
  }