.cardWrapper {
  -webkit-box-shadow: 0px 5px 10px 1px rgba(230,227,230,1);
  -moz-box-shadow: 0px 5px 10px 1px rgba(230,227,230,1);
  box-shadow: 0px 5px 10px 1px rgba(230,227,230,1);
  margin : 2rem 1rem 2rem 1rem;
  max-width: 500px;
  border-radius: .5rem;
}
.infoWrapper{
    display: flex;
    justify-content: space-between;
    padding : .4rem;
    .userInfoContainer{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .username{
          font-weight: 700;
          padding-left: .5rem;
      }
    }
    .moreSettings{
        align-self: center;
    }
}
.bottomContainer{
  display: flex;
  flex-direction: column;
  padding:.5rem;
  .resourceNameContainer{
    margin : .3rem 0rem;
    .resourceName{
        font-weight: 700;
        font-size: 1rem;
    }
}
.viewsContainer{
    display: flex;
    justify-content: space-between;
    .leftTags{
      font-weight: 700;
      font-size: .8rem;
      // margin : 1rem 1rem;
      text-transform : capitalize;
    }
    .rightTags{
      font-weight: 700;
      font-size: .8rem;
      // margin : 1rem 1rem;
      text-transform : capitalize;
    }
}
.socialContainer{
    display: flex;
  //   padding : .5rem;
    justify-content: space-between;
    align-items: center;
    .socialIconsContainer{
        display: flex;
        justify-content: space-between;
        .icons{
            padding:.6rem;
            &:first-child{
                padding :.6rem 0rem;
            }
        }
    }
    .uploadedAt{
      text-transform: uppercase;
      font-size : .7rem;
      opacity: .7;
    }
}
}
.articleWrapper {
  //   position: relative;
    padding: 4.5rem 0rem; /* Player ratio: 100 / (1280 / 720) */
  //   margin: .4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  //   border-top : .001px solid rgba(77, 75, 75, 0.582);
  }

.searchFilterContainer{
  display : flex;
  .searchBar{
    width: 40%;
    padding-right: 2rem;
  }
  .resetButton{
    margin-left: 1rem;
  }
}

.emptyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 0 auto;
  justify-content: center;
    img{
      width: 300px;
      height: 400px;
    }
    div{
        font-size: 1.5rem;
        font-weight: bold;
    }
  }